---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";

export async function getStaticPaths() {
  const articles = (await getCollection("blog")).sort(
    (a: any, b: any) => a.data.pubDate!.valueOf() - b.data.pubDate!.valueOf()
  );

  return articles.map((article: any, index: number) => ({
    params: { slug: article.slug },
    props: { article, previous: articles[index - 1] },
  }));
}

type Props = {
  article: CollectionEntry<"blog">;
  previous?: CollectionEntry<"blog">;
};

const { article, previous } = Astro.props;
const { Content, headings } = await article.render();

const production = process.env.NODE_ENV === "production";
---

<BlogLayout headings={headings} {...article}>
  <section class="article mb-16 md:w-[700px]">
      <h2 class="text-md font-semibold mt-8 mb-4">{article}</h2>
      <Content />
      <br>
      <br>
      {production && 
        <script is:inline src="https://giscus.app/client.js"
          data-repo="abboahene/abboahene.github.io"
          data-repo-id="R_kgDOL6m-4w"
          data-category="Blog Interractions"
          data-category-id="DIC_kwDOL6m-484CfT84"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
        </script>
      }
  </section>
</BlogLayout>
