---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Articles from "../../components/Articles.astro";

const articles: any[] = (await getCollection('blog')).sort(
  (a: any, b: any) => b.data.pubDate!.valueOf() - a.data.pubDate!.valueOf(),
)

const articleList: any[] = articles.map((post) => ({
  link: `/blog/${post.slug}`,
  meta: post.data.pubDate,
  title: post.data.title,
  tags: post.data.tags,
}))

---

<Layout title="✊|Articles">
  <section class="articles mb-16">
    <h2 class="text-md font-semibold mt-8 mb-4">Articles(WIP)</h2>
    <div
      class="mx-auto flex max-w-2xl gap-x-8 gap-y-4 lg:max-w-none lg:grid-cols-1"
    >
      <Articles articleList={articleList}/>
      <!-- More posts... -->
    </div>
  </section>
</Layout>