---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Articles from "../../components/Articles.astro";

const articles: any[] = (await getCollection('blog')).sort(
  (a: any, b: any) => b.data.pubDate!.valueOf() - a.data.pubDate!.valueOf(),
)

const articleList: any[] = articles.map((post) => ({
  link: `/blog/${post.slug}`,
  pubDate: post.data.pubDate,
  title: post.data.title,
  description: post.data.description,
  category: post.data.category,
  tags: post.data.tags,
}))

---

<Layout title="âœŠ|Articles" description="From the depth of my heart and mind ðŸ“">
  <section class="articles mb-16">
    <h2 class="text-md font-semibold mt-4 md:mt-8 mb-4">Articles</h2>
    <div
      class="flex"
    >
      <Articles articleList={articleList}/>
    </div>
  </section>
</Layout>