body, html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #eff0f4;
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  box-sizing: border-box;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

a:active {
  background: #DADCE1 !important;
  color: initial !important;
}
