---
import { Icon } from "astro-icon/components";
import mePlayingPiano from "../assets/benefo.jpeg";

import Layout from "../layouts/Layout.astro";
---

<Layout title="✊|About" description="Man, know thyself 🫡">
  <section class="featured mb-16">
    <h2 class="text-md font-semibold mt-4 md:mt-8 mb-4">About</h2>
    <div class="flex flex-col md:flex-row md:gap-10">
      <div class="md:basis-4/12">
        <img class="rounded-sm" src={mePlayingPiano.src} alt="playing piano" />
      </div>
      <div class="md:basis-4/12">
        <h2 class="text-3xl font-semibold pt-3 mb-2">Hi, I am Benefo.</h2>
        <p class="text-sm mb-4">
          I am a software engineer with a penchant for creative problem solving.
          I am currently pursuing my Master's in Computer Science at MIU. This
          has come as a huge opportunity to add more to my current knowledge and
          I can't wait to offer my quota to the existing impactful systems in
          the world.
        </p>
        <p class="text-sm mb-4">
          If you don't find me studying, or struggling with a competetive
          programming question, or reading a book, or connecting with some cool
          people, then I am probably doing one of the four above 😊.
        </p>
        <p class="text-sm mb-4">
          I have an earnest drive to have a positive effect on the people around
          me because, through out my journey, it has been the inspiration of the
          greats that has constantly thrust me forward.
        </p>
        <p class="text-sm mb-4">
          I am always eager to connect with like-minded individuals. Feel free to
          send an <a
            class="text-[#3c45ab] font-semibold"
            target="_blank"
            href="mailto:alfredboahene.7@gmail.com">Email</a
          > or a message on <a
            href="https://www.linkedin.com/in/alfred-boahene-benefo"
            target="_blank"
            class="text-[#3c45ab] font-semibold">LinkedIn</a
          >.
        </p>
        <div class="flex gap-2">
          <a href="mailto:alfredboahene.7@gmail.com"><Icon name="mdi:email" size={20} /></a>
          <a href="https://github.com/abboahene"><Icon name="mdi:github" size={20} /></a>
          <a href="https://www.linkedin.com/in/alfred-boahene-benefo"><Icon name="mdi:linkedin" size={20} /></a>
          <a href="https://twitter.com/al_boahene"><Icon name="mdi:twitter" size={20} /></a>
        </div>
      </div>
    </div>
  </section>
</Layout>
