---
import Layout from "../layouts/Layout.astro";
---

<Layout title="✊|About">
  <section class="featured mb-16">
    <h2 class="text-md font-semibold mt-8 mb-4">About(WIP)</h2>
  </section>
</Layout>
