---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
---

<Layout title="✊|Articles">
  <section class="articles mb-16">
    <h2 class="text-md font-semibold mb-4">Articles(WIP)</h2>
    <div
      class="mx-auto flex max-w-2xl gap-x-8 gap-y-4 lg:max-w-none lg:grid-cols-1"
    >
      <Article />
      <Article />
      <!-- More posts... -->
    </div>
  </section>
</Layout>
