---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Article from "../components/Article.astro";
---

<Layout title="✊|ABB">
  <Hero />
  <section class="featured mb-16">
    <h2 class="text-md font-semibold mb-4">Featured</h2>
    <ul role="list" class="grid grid-cols-2 gap-3">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
        image="https://placehold.co/600x400"
      />
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
        image="https://placehold.co/600x400"
      />
    </ul>
  </section>
  <section class="articles mb-16">
    <div
      class="mx-auto flex max-w-2xl gap-x-8 gap-y-4 lg:max-w-none lg:grid-cols-1"
    >
      <Article data/>
      <Article  data/>
      <!-- More posts... -->
    </div>
  </section>
</Layout>
