---
import Article from "./Article.astro";

interface Props {
  articleList: any[];
}

const { articleList } = Astro.props
console.log(articleList);

---

<section class="articles mb-16">
  <div
    class="flex flex-col flex-wrap gap-4"
  >
    {articleList.map(article => <Article data={article}/>)}
    {articleList.map(article => <Article data={article}/>)}
    {articleList.map(article => <Article data={article}/>)}
    <!-- <Article /> -->
    <!-- More posts... -->
  </div>
</section>
