---
interface Props {
  title: string;
  body: string;
  image: string;
  href: string;
}

const { href, title, body, image } = Astro.props;
---

<li class="card border w-full bg-white hover:shadow-md">
  <div class="card-body p-4 gap-4">
    <h2 class="card-title text-base border-b pb-2">{title}</h2>
    <div class="card-side flex flex-row gap-2">
      <div class="card-side flex flex-col gap-2">
        <p class="text-sm">{body}</p>
        <button class="btn w-1/6 btn-sm border-gray-300">Open</button>
      </div>
      <figure class="card-side basis-2/6">
        <img src={image} alt="img" class="rounded-xl" />
      </figure>
    </div>
  </div>
</li>
