---
import { Icon } from "astro-icon/components";

const today = new Date();
---

<footer
  class="flex bg-dark text-white text-sm min-h-[100px] md:min-h-[48px] py-4 px-5 md:px-10 md:m-10 rounded-xl"
>
  <div class="flex gap-2 w-full justify-between items-center">
    <div class="flex flex-col text-[12px]">
      <div>
        &copy;{today.getFullYear()} Alfred Benefo Boahene. All rights reserved.
      </div>
      <div>Made with Astro + Github Pages</div>
    </div>
    <div class="flex gap-2">
      <a href="mailto:alfredboahene.7@gmail.com"
        ><Icon name="mdi:email" size={20} /></a
      >
      <a href="https://github.com/abboahene"
        ><Icon name="mdi:github" size={20} /></a
      >
      <a href="https://www.linkedin.com/in/alfred-boahene-benefo"
        ><Icon name="mdi:linkedin" size={20} /></a
      >
      <a href="https://twitter.com/al_boahene"
        ><Icon name="mdi:twitter" size={20} /></a
      >
    </div>
  </div>
</footer>
