---
import { Icon } from "astro-icon/components";

const today = new Date();
---

<div class="flex bg-dark text-white text-sm min-h-[48px] py-5 px-10 m-10 rounded-xl">

  <div class="flex w-full justify-between items-center">
    <div class="flex flex-col text-[12px]">
      <div>&copy; {today.getFullYear()} Alfred Benefo Boahene.</div>
      <div >All rights reserved.</div>
      <div>Made with Astro + Github Pages</div>
    </div>
    <div class="flex gap-2">
      <a href="https://github.com/abboahene"
        ><Icon name="mdi:github" size={20} /></a
      >
      <a href="https://www.linkedin.com/in/alfred-boahene-benefo"
        ><Icon name="mdi:linkedin" size={20} /></a
      >
      <a href="https://twitter.com/al_boahene"
        ><Icon name="mdi:twitter" size={20} /></a
      >
    </div>
  </div>
</div>
