---
import logo from "../assets/my-logo-white.svg";

import "../styles/global.css"; // import global css here so it affects every page
---

<div class="navbar bg-[#000] min-h-[48px] sticky top-0 z-50 px-[1.5rem]">
  <a href="#" class="text-xl text-white"><img width="50px" src={logo.src} /></a>
</div>
