<div class="hero place-items-start pb-16 pt-8">
  <div class="flex-col items-start justify-start gap-1">
    <h2
      class="text-7xl md:text-8xl font-bold bg-gradient-to-r from-[#0f6cbd] to-[#3c45ab] text-transparent bg-clip-text"
    >
      Welcome!
    </h2>
    <h3 class="text-5xl md:text-6xl font-bold">I am Benefo.</h3>
    <p class="text-md font-semibold py-1">
      A software engineer, and I love to learn.<br /> You will find my insterests and projects here.
    </p>
  </div>
</div>
