<div class="hero place-items-start my-16">
  <div class="flex-col items-start justify-start gap-1">
    <h2 class="text-2xl font-bold">Welcome!</h2>
    <p class="py-1">
      I am Benefo, a software engineer. I love to learn.<br/> You will find a lot
      about my here.
    </p>
  </div>
</div>
