---
import NavLink from "./NavLink.astro";
import { Icon } from "astro-icon/components";
---

<div>
  <!-- <div class="ml-[8px]">
      <button class="btn btn-info btn-sm rounded-full"> + Neutral</button>
    </div> -->
  <ul class="w-full text-black" transition:animate="fade">
    <span class="text-black font-semibold mt-8"
      >Alfred Benefo Boahene</span
    >
    <li class="mt-2">
      <NavLink href="/">
       <Icon name="mdi:home" size={20}/>
        Home
      </NavLink>
    </li>
    <li>
      <NavLink href="/projects">
        <Icon name="mdi:rocket-launch" size={20}/>
        Projects
      </NavLink>
    </li>
    <li>
      <NavLink href="/blog">
        <Icon name="mdi:book-open-page-variant" size={20}/>
        Blog
      </NavLink>
    </li>
    <li>
      <NavLink href="/about">
        <Icon name="mdi:account" size={20}/>
        About
      </NavLink>
    </li>
  </ul>
</div>
