---
interface Props {
  title: string;
}

import Header from "./../components/Header.astro";
import Footer from "./../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
import HtmlHead from "../components/HtmlHead.astro";
import Loader from "../components/Loader.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <HtmlHead title={title} />
  </head>
  <body class="text-black">
    <Header />
    <Loader />
    <div class="flex flex-nowrap md:pl-4">
      <aside transition:animate="fade" class="sidebar flex-basis-[200px] h-full sticky top-[52px] pt-7 hidden md:block">
        <Sidebar />
      </aside>

      <!-- Mobile Sidebar (Hidden on other screens) -->
      <aside class="mobile-sidebar z-49 h-full w-2/3 bg-white fixed top-[48px] pt-7 pl-5 hidden md:hidden">
        <Sidebar />
      </aside>
      <main class="close-sidebar w-full px-5 md:pr-0 md:pl-4 pt-4">
        <slot />
      </main>
    </div>
    <Footer />
    
    <script is:inline>
      document.addEventListener("astro:page-load", () => {
        document.querySelector(".hamburger").addEventListener("click", () => {
          document.querySelector(".mobile-sidebar").classList.toggle("hidden");
        });
        document.querySelector(".close-sidebar").addEventListener("click", () => {
          document.querySelector(".mobile-sidebar").classList.add("hidden");
        });
      });
    </script>
  </body>
</html>
