---
interface Props {
  title: string;
}

import Header from "./../components/Header.astro";
import Footer from "./../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
import HtmlHead from '../components/HtmlHead.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <HtmlHead title={title} />
  <body class="text-black">
    <Header />
    <div class="flex pl-4 pr-24 flex-nowrap">
      <aside class="h-full sticky top-[48px] pt-7">
        <Sidebar />
      </aside>
      <main class="basis-10/12 pl-4 pt-4">
        <slot />
      </main>
    </div>
    <Footer>
  </body>
</html>

