---
interface Props {
  title: string;
}

import Header from "./../components/Header.astro";
import Footer from "./../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
import HtmlHead from '../components/HtmlHead.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <HtmlHead title={title} />
  <body class="text-black">
    <Header />
    <div class="flex flex-nowrap md:pl-4 md:pr-24">
      <aside class="sidebar h-full sticky top-[48px] pt-7 hidden md:block">
        <Sidebar />
      </aside>
      <main class="px-2 md:basis-10/12 md:pr-0 md:pl-4 pt-4">
        <slot />
      </main>
    </div>
    <Footer>
  </body>
</html>

