---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "./../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/my-logo-B-yellow.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="flex pl-4 pr-24 flex-nowrap">
      <aside class="h-full sticky top-[48px]">
        <Sidebar />
      </aside>
      <main class="basis-10/12 pl-4 pt-8">
        <slot />
      </main>
    </div>
  </body>
</html>

